/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-feb-2019, 15:13:32
    Author     : angela
*/

*{
    padding: 0px;
    margin: 0px;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #B0E0E6;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
}


body *{
    box-sizing: border-box;
}

.ButtonReg{
    background-color: rgba(70, 172, 241, 1);
    border-radius: 5px;
    width: 184.32px;
    height: 48px;
}

.ButtonIn{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #47525E;
    border-radius: 5px;
    width: 184.32px;
    height: 48px;
}

header{
    width: 100%;
    height: 10%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

main{
    width: 100%;
    height: 85%;
}

footer{
    width: 100%;
    height: 5%;
    background-color: rgba(0, 166, 255, 0.32);
    color: white;
}

main>section{
    width: 70%;
    height: 100%;
    float: left;    
}

main>aside{
    float: left;
    background-color: #FFFFFF;
    border: 1px solid #8492A6;
    border-radius: 5px;
    width: 14%;
    height: 100%;
}


#busqueda{
    float: right;
    
}
header>h1{
    float: left;
}

h1.a{
    position:relative;
    color: #47525E;
    font-family: Josefin Sans;
    font-size: 15px;
    text-align: left;
}

    
h1.b{
    position: absolute;
    color: #47525E;
    font-family: Josefin Sans;
    font-size: 15px;
    text-align:  center;    
}

h1.c{
    position: absolute;
    color: #47525E;
    font-family: Josefin Sans;
    font-size: 15px;
    text-align:  right; 
}

.text-box{
    position:relative; 
    left:680px;
    top:150px;
    height:70px;
    width: 500px;
}