/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-feb-2019, 15:13:32
    Author     : angela
*/

.titulo{
  color: #47525E;
  font-family: Josefin Sans;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  width: 5%;
  text-align: center;
}

.registrarse-btn {
  background-color: #00A6FF;
  border-radius: 5px;
  width: 5%;
  height: 48px;
  text-align: center;
  position: absolute;
  left: 30%;
    margin: auto;
  display: block;
}

.iniciarSesion-btn{
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #47525E;
  border-radius: 5px;
  width: 5%;
  height: 48px;
  position: absolute;
  left: 35%;
  margin: auto;
  display: block;
}

.textoRegistrarse {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 62px;
  width: 184.32px;
  text-align: center;
}

.textoIniciarSesion {
  color: #060708;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 62px;
  width: 150.11px;
  text-align: center;
}

.buscar {
  background-color: #FFFFFF;
  border: 1px solid #8492A6;
  border-radius: 5px;
  width: 90%;

}

.footer {
  background-color: rgba(0, 166, 255, 0.32);
  width: 1441px;
  height: 63px;
}
