/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/04/2019, 12:41:04 AM
    Author     : vale
*/

*{
    padding: 0px;
    margin: 0px;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
}
main{
    width: 100%;
    height: 85%;
    float: contour;
}

body *{
    box-sizing: border-box;
}

footer{
    width: 100%;
    height: 5%;
    background-color: rgba(0, 166, 255, 0.32);
    color: white;
    float: end
}


.text-box1{
   position: relative;
   left: 440px;
   top: 150px;
   height: 50px;
   width: 400px;
}

#re{
    color: #47525E;
    font-family: Cardo;
    font-size: 60px;
    font-weight: 300;
    line-height: 78px;
    text-align: center;
    position: relative;
    top: 20px;
}





