/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-feb-2019, 15:13:32
    Author     : angela
*/

*{
    padding: 0px;
    margin: 0px;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #B0E0E6;
}
h1{
    /*font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);*/
  color: #5A6978;
  font-family: Josefin Slab;
  font-size: 56px;
  font-weight: 400;
  line-height: 72px;
  text-align: left;
}

h2{
    color: #47525E;
    font-family: Cardo;
    font-size: 60px;
    font-weight: 300;
    line-height: 78px;
    text-align: center;
    position: relative;
    top: 20px;
}

hr {
  height: 2px;
  background-color: black;
}


body *{
    box-sizing: border-box;
}

.ButtonReg{
    background-color: rgba(70, 172, 241, 1);
    border-radius: 5px;
    width: 184.32px;
    height: 48px;
}

.ButtonIn{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #47525E;
    border-radius: 5px;
    width: 184.32px;
    height: 48px;
}

.ButtonAceptar{
    background-color: #2D9CD7;
    border-radius: 100px;
    width: 192px;
    height: 50px;
    position: relative;
    left: 755px;
    top: 200px;
    color: #FFFFFF;
    font-family: Lato;
}

.textoCampo1{
    background-color: #FFFFFF;
    border: 1px solid #8492A6;
    border-radius: 5px;
    width: 565px;
    height: 56px;
    position: relative;
    left: 370px;
    top: 150px;
    color: #8190A5;
    font-family: Cardo;
    font-size: 45px;
    font-weight: 400;
    line-height: 62px;
    text-align: center;
}

.textoCampo2{
    background-color: #FFFFFF;
    border: 1px solid #8492A6;
    border-radius: 5px;
    width: 565px;
    height: 56px;
    position: relative;
    left: 370px;
    top: 170px;
    color: #8190A5;
    font-family: Cardo;
    font-size: 45px;
    font-weight: 400;
    line-height: 62px;
    text-align: center;
}
header{
    width: 100%;
    height: 10%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

main{
    width: 100%;
    height: 85%;
}

footer{
    width: 100%;
    height: 5%;
    background-color: rgba(0, 166, 255, 0.32);
    color: white;
}

main>section{
    width: 70%;
    height: 100%;
    float: left;    
}

main>aside{
    float: left;
    background-color: #FFFFFF;
    border: 1px solid #8492A6;
    border-radius: 5px;
    width: 14%;
    height: 100%;
}


#busqueda{
    float: right;
    
}
header>h1{
    float: left;
}

h1.a{
    position:relative;
    color: #47525E;
    font-family: Josefin Sans;
    font-size: 15px;
    text-align: left;
}

    
h1.b{
    position: absolute;
    color: #47525E;
    font-family: Josefin Sans;
    font-size: 15px;
    text-align:  center;    
}

h1.c{
    position: absolute;
    color: #47525E;
    font-family: Josefin Sans;
    font-size: 15px;
    text-align:  right; 
}


.text-box2{
   position: relative;
   left: 800px;
   top: 150px;
   height: 50px;
   width: 100px;
